body {
  font-family: Arial, Helvetica, sans-serif;
}

.topside, .bottomside {
  position: relative;
  left: 0;
  right: 0;
}

.topside {
  top: 0;
  height:50%
  background-color: LightBlue;
}

.bottomside {
 bottom: 0;
 
 background-color: Black;
 color: white;
}

.centered {
  text-align: center;
  position: relative;
}

/* Have a small rounded image */
.miniround {
  width: 150px;
  border-radius: 50%;
}

.header {
  padding: 5px;
  text-align: center;
  background: #000000;
  color: white;
  z-index: 1;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #333;
  z-index: 1;
}

.navbar a {
  float: left; /* Keeps links side-by-side */
  display: block;
  color: white;
  text-align: center;
  padding: 10px 30px;
  text-decoration: none; /* Remove underline */
}

.navbar a:hover {
  background-color: #FFFFFF;
  color: black;
}

.unsplashed{
  background: url(https://source.unsplash.com/random);
  background-size: 100vw 100vh;
}

.active{
  background-color: #000;
  color: white;
}

.content{
  height: 100%;
  width: 100%;
}
