body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:silver;
}

/* Split the screen in half */
.topside, .bottomside {
  position: relative;
  left: 0;
  right: 0;
  /*
  position: fixed;
  */
  padding-top: 20px;
}

/* Control the left side */
.topside {
  top: 0;
  height:50%
  background-color: LightBlue;
  overflow:scroll;
}

/* Control the right side */
.bottomside {
 bottom: : 0;
 height:50%;
 background-color: Black;
 color: white;
}

/* If you want the content centered horizontally and vertically */

.centered {
  text-align: center;
  position: relative;

}



/* Style the image inside the centered container, if needed */

.centered img {
 width: 150px;
 border-radius: 50%;
}



.header {
  padding: 5px;
  text-align: center;
  background: #000000;
  color: white;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  margin: 0px;
  padding: 0px;
  /* overflow: hidden;  Hide overflow */
  background-color: #333; /* Dark background color */
}

.navbar a {
  float: left; /* Make sure that the links stay side-by-side */
  display: block;
  color: white; /* White text color */
  text-align: center;
  padding: 10px 30px;
  text-decoration: none; /* Remove underline */
}

.navbar a:hover { /* Changes nav link block on hover */
  background-color: #FFFFFF;
  color: black;
}

.unsplashed{
  background: url(https://source.unsplash.com/random);
  background-size: 100vw 100vh;
}

.active{
  background-color: #000;
  color: white;
}

.main{
  height: 100%;
  margin:10px;
  width: 100%;
}

.roundedPaper{
  border-radius: 50px;
  background:url('../images/paper1.jpg');
  background-repeat: repeat;
  padding: 5px;
  height: 100%;
  opacity: 0.8;
}
